body{
    background-color: rgb(1, 204, 204);
}

img{
    width: 13%;
    margin: 10px;
    position: relative;
    border-style: outset;
    border-color: grey;
}


p{
    text-indent: 15px;
    text-align: justify;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 540;
}